* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #034574;
  font-family: sans-serif;
  padding: 90px 20px 0;
}

header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #034574;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer img {
  height: 80px;
  margin-bottom: 1rem;
}
footer div, footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.iconsocial {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url(../assets/FacebookBlanco.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.iconsocial:hover {
  background-color: aqua;
  filter: invert(1);
}

.iconsocial:nth-of-type(2) {
  background-image: url(../assets/InstagramBlanco.png);
}

.iconsocial:nth-of-type(3) {
  background-image: url(../assets/TwitterBlanco.png);
}

.footer-menu-container {
  list-style-type: none;
  color: white;
  font-size: pointer;
}

.menuitem {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menuitem:hover {
  opacity: 1;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}

.div1 {
  font-family: sans-serif;
  padding: 5px;
  width: 65%;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid black;
}
.div1 img {
  width: 60%;
  height: 90%;
  float: left;
  padding: 10px;
}

.div2 {
  border-radius: 10px;
  border: 3px solid black;
  margin-top: 10px;
  padding: 5px;
  width: 35%;
  background-color: white;
}
.div2 img {
  width: 50%;
  float: left;
  padding: 10px;
}

.div3 {
  display: flex;
  border-radius: 10px;
  border: 3px solid black;
  padding: 0;
  background-color: white;
  width: 100%;
  margin-top: 10px;
}
.div3 div {
  width: 100%;
}
.div3 img {
  float: left;
  width: 50%;
}

.contenedorbox {
  display: flex;
  border-radius: 10px;
  border: solid black 3px;
  background-color: white;
  width: 100%;
  height: auto;
}

.contenedorbox div {
  border-right: 3px solid black;
  width: 50%;
}
.contenedorbox div img {
  margin: 10px;
  display: flex;
  width: 80%;
}

.contenedorhand {
  display: flex;
  border-radius: 10px;
  border: solid black 3px;
  background-color: white;
  width: 100%;
  height: auto;
}

.divhand {
  border-radius: 10px;
  border-right: 3px solid black;
  background-color: white;
  height: auto;
  width: 35%;
}
.divhand img {
  margin: 10px;
  float: left;
  width: 80%;
}

.divhand2 {
  font-size: 18px;
  height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  margin-top: 10px;
  width: 65%;
}
.divhand2 img {
  float: left;
  width: 50%;
  height: 80%;
  margin: 10px;
}

.contenedorbasquet {
  display: flex;
  border-radius: 10px;
  border: solid black 3px;
  background-color: white;
  width: 100%;
  height: auto;
}

.sdb1 {
  width: 50%;
  border-right: solid black 3px;
  height: 100%;
}
.sdb1 img {
  float: left;
  width: 50%;
  margin: 10px;
}

.sdb2 {
  width: 50%;
}
.sdb2 img {
  float: left;
  width: 60%;
  margin: 10px;
}

.futsec {
  display: flex;
}

.futbol {
  border-radius: 10px;
  border-right: 3px solid black;
  background-color: white;
  width: 50%;
}
.futbol img {
  margin: 10px;
  float: left;
}

.chile {
  border-radius: 10px;
  border-right: 3px solid black;
  background-color: white;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .sdb1 img {
    width: 50%;
    height: 20%;
    float: left;
  }
  .contenedorbasquet {
    flex-direction: column;
  }
  .sdb1 {
    width: 100%;
  }
  .contenedorhand {
    flex-direction: column;
  }
  .divhand {
    width: 100%;
  }
  .sdb2 {
    width: 100%;
  }
  .divhand2 {
    width: 100%;
  }
  .contenedor {
    flex-direction: column;
  }
  .div1 {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .img1 {
    width: 90%;
  }
  .div2 {
    width: 100%;
  }
  .div3 {
    flex-direction: column;
    width: 100%;
  }
  .subdiv3 {
    height: 50%;
    width: 100%;
  }
  .subdiv4 {
    height: 50%;
    width: 100%;
  }
  .video1 {
    width: 95%;
  }
  .contenedorbox {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .divbox1 {
    width: 100%;
  }
  .contenedorbox div {
    width: 100%;
  }
  .contenedorbox div img {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
